
svg.kyokumen {
    width: 200px;
    font-size: 18px;
    display: block;
    font-family: sans-serif;
    padding: 30px 60px 10px 60px;
    margin: 0;
}

.ban {
    stroke-width: 3;
    stroke: #000;
    fill: #FFF;
}

.sen {
    stroke-width: 1;
    stroke: #000;
}

.koma, .nari-goma, .sente, .gote {
    writing-mode: tb; /* 縦書きに */
}

.num {
    font-size: 16px;
}

.nari-goma {
    fill: #D00;
}

span:hover {
    text-decoration: underline;
}
/*
.sente {
    transform: rotate(180deg);
}
*/