    
svg.kyokumen-svg {
    width: 200px;
    font-size: 18px;
    display: block;
    font-family: sans-serif;
    padding:  43px 48px 26px 35px;
}

svg.kyokumen-svg .ban {
    stroke-width: 3;
    stroke: #000;
    fill: #FFF;
}

svg.kyokumen-svg .sen {
    stroke-width: 1;
    stroke: #000;
}

svg.kyokumen-svg .koma, .nari-goma, .sente, .gote {
    writing-mode: tb; /* 縦書き */
}

svg.kyokumen-svg .komark {
    glyph-orientation-vertical: 0;
}

svg.kyokumen-svg .num {
    font-size: 15px;
}

svg.kyokumen-svg .nari-goma {
    fill: #D00;
}

svg.kyokumen-svg .title {
    font-size: 15px;
}

span.mv:hover {
    text-decoration: underline;
}

